* {
  box-sizing: border-box;
  color: #333;
}
body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1;
}
.App {
  font-family: sans-serif;
  text-align: center;
  border: 1px solid gray;
  background: rgb(247, 247, 247);
}
h3  {color: #33F292;}
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  justify-items: start;
}
div.product {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  justify-content: start;
  grid-gap: 5px;
}

ul {
  display: grid;
  padding: 5px;
  align-items: center;
  grid-template-columns: 125px repeat(5, 1fr) 30px;
  justify-content: start;
  grid-gap: 5px 0;
}
ul > div, ul>h3 {
  
  justify-self: stretch;
  align-self: stretch;
  display: grid;
  align-content: center;
}
ul div.qty-container-wrap {
  justify-items: center;
}
ul > div {
  background: #fff;
}
ul .product img {
  height: 45px;
}
ul .qty-container{
  background: #999;
  color: #fff;
  padding: 3px 10px;
  border-radius: 12px;
}

ul .qty-container button {
  border:none;
  background: transparent;
  color: #fff;
  margin: 0 4px;
  outline: none;
  cursor: pointer;
}
ul button.del {
  border:none;
  background: transparent;
  cursor: pointer;
  color: #999;
}
ul button.del:hover {
  color: red;
}
/* FOOTER */
footer {
  margin: 12px 0;
  display: grid;
  justify-content: center;
  align-items: center;
}
footer span {
  margin-left: 4px;
}
footer button {
  border-radius: 15px;  
  display: flex;
  background: #33F292;
  border: none;
  
  margin-left: 3px;
  cursor: pointer;
}
footer button:hover {
  background:rgb(0, 158, 127);
}
footer button div:nth-child(1){
  margin: 12px;
}
footer button div:nth-child(1) span, footer button div:nth-child(1) span b {
  color: #fff;
}
.checkout-wrap {
  color: #33F292;
  background: #fff;
  padding: 12px;
  border-radius: 15px;
  position: relative;
  right: -4px;
}